# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Binaries
client/cmd/gophkeeper/client
server/cmd/gophkeeper/server

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.vscode

# Notes
*.txt

# Local configs
*.local.json

# Certs
/certs/

# SQLite
*.db